<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div class="cf_login_wrapper">
    <div class="cf_login_inner">
      <div class="cf_login_block">
        <div class="cf_login_logoBlock">
          <img src="assets/images/logo2.svg" alt="Cafetra" class="img-fluid">
        </div>
        <h3>Log into your account</h3>






        <form [formGroup]="loginForm" (ngSubmit)="submitlogin(loginForm.value)" >
        <div  class="cf_form_block success">
          <input ngModel type="email" placeholder="Enter Email" class="cf_form_field" formControlName="email">
          <span class="cf_icon cf_mail_green"></span>
          <span style="color: red;" *ngIf="email && email.invalid && email.touched">
            **enter valid email
        </span>
        </div>
        <div class="cf_form_block success">
          <input ngModel type="password" placeholder="Enter Password" class="cf_form_field" formControlName="password">
          <span class="cf_icon cf_eye_green"></span>
          
        </div>
        <div class="cf_form_block">
          <div class="cf_flex_box">
            <div class="cf_remember_block">
              <input type="checkbox" name="remember_me" id="remember_me">
              <label for="remember_me">
                Remember me
              </label>
            </div>
            <div class="cf_forgot_block">
              <a href="forgot_password.html">Forgot Password?</a>
            </div>
          </div>
        </div>
        <div class="cf_form_block">
          <button class="cf_btn">Login</button>
        </div>
      </form>

        <p class="cf_redirect">Don't have an account? <a routerLink="../registration">Register now</a></p>
      </div>
    </div>
  </div>
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>