<!-- <app-events  [chaildval]="name" [chaildval2]="name2">
  
</app-events>  -->




<!-- <app-form>

</app-form>



<ul *ngFor="let obj of perentdata">
    <app-form [multiuse]="obj">

</app-form>
</ul> -->



<!-- 
<app-tempform-validation>
    
</app-tempform-validation> -->




<!-- <app-reactiveform-validation>
    
</app-reactiveform-validation> -->


<button routerLink="events">Events</button>
<br>
<button routerLink="reactiveform">reactive form</button>
<br>
<button routerLink="tempform">tempalte form</button>
<br>
<button routerLink="">home</button>
<router-outlet></router-outlet>