<!-- <app-events  [chaildval]="name" [chaildval2]="name2">
  
</app-events>  -->




<!-- <app-form>

</app-form>



<ul *ngFor="let obj of perentdata">
    <app-form [multiuse]="obj">

</app-form>
</ul> -->



<!-- 
<app-tempform-validation>
    
</app-tempform-validation> -->




<!-- <app-reactiveform-validation>
    
</app-reactiveform-validation> -->


<!-- <button routerLink="events">Events</button>
<br>
<button routerLink="reactiveform">Reactive form</button>
<br>
<button routerLink="tempform">Tempalte form</button>
<br>
<button routerLink="members">Members</button>

<router-outlet></router-outlet> -->


<!-- <app-members></app-members> -->








<app-reactive (formdata)="formdata($event)"></app-reactive>
<!-- <app-temp [name]="name" [email]="email"></app-temp> -->


