<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

</head>
<body>
  <div class="cf_dashboard_main_wrapper">
    <div class="cf_dashboard_sidebar_wrapper">
      <div class="cf_dashboard_sidebar_inner">
        <div class="cf_sidebar_logo_block">
          <label class="sidebar_toggle"><span class="cf_icon cf_left"></span></label>
          <a href="javascript:;"><img src="assets/images/logo.svg" alt="Cafetra" class="img-fluid"></a>
        </div>
        <div class="cf_sidebar_search_block">
          <div class="cf_sidebar_search_inner">
            <span class="cf_icon cf_search"></span>
            <input type="text" placeholder="Search here...">
          </div>
        </div>
        <div class="cf_sidebar_list_block">
          <ul class="cf_sidebar_menu">
            <li class="cf_submenu_block">
              <a href="home.html"><span class="cf_icon cf_home"></span><label>Home</label></a>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_weather"></span><label>Weather</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">Trade</a></li>
                <li><a href="javascript:;">USDA Flash</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_crops"></span><label>Crops</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="javascript:;">US Inspections</a></li>
                <li><a href="javascript:;">USDA Flash</a></li>
                <li><a href="javascript:;">EU Weekly Trade Data</a></li>
                <li><a href="javascript:;">Lineup Data</a></li>
                <li><a href="javascript:;">Tender Data</a></li>
                <li><a href="javascript:;">Custom Data</a></li>
              </ul>
            </li>

            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_sds"></span><label>S&D’s</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
                <li><a href="usdaflash.html">USDA Flash</a></li>
                <li><a href="eu_weekly_trade_data.html">EU Weekly Trade Data</a></li>
                <li><a href="line_up_data.html">Lineup Data</a></li>
                <li><a href="tender_data.html">Tender Data</a></li>
                <li><a href="custom_data.html">Custom Data</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_trade"></span><label>Trade</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
                <li><a href="usdaflash.html">USDA Flash</a></li>
                <li><a href="eu_weekly_trade_data.html">EU Weekly Trade Data</a></li>
                <li><a href="line_up_data.html">Lineup Data</a></li>
                <li><a href="tender_data.html">Tender Data</a></li>
                <li><a href="custom_data.html">Custom Data</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_policy"></span><label>Policies</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_process"></span><label>Processing Capacity</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_price"></span><label>Prices</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
                <li><a href="usdaflash.html">USDA Flash</a></li>
                <li><a href="eu_weekly_trade_data.html">EU Weekly Trade Data</a></li>
                <li><a href="line_up_data.html">Lineup Data</a></li>
                <li><a href="tender_data.html">Tender Data</a></li>
                <li><a href="custom_data.html">Custom Data</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_price_analysis"></span><label>Price Analysis</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
                <li><a href="usdaflash.html">USDA Flash</a></li>
                <li><a href="eu_weekly_trade_data.html">EU Weekly Trade Data</a></li>
                <li><a href="line_up_data.html">Lineup Data</a></li>
                <li><a href="tender_data.html">Tender Data</a></li>
                <li><a href="custom_data.html">Custom Data</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_sentiment"></span><label>Sentiment</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_picture"></span><label>The Big Picture</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_report"></span><label>Report Archieve</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="cf_info_list_block">
          <div class="cf_sidebar_list_block">
            <ul class="cf_sidebar_menu">
              <li class="cf_submenu_block">
                <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_info"></span><label>Info</label><span
                    class="cf_icon cf_down"></span></a>
                <ul class="cf_sidebar_submenu">
                  <li><a href="info_ceras_analytics.html">Ceras Analytics</a></li>
                  <li><a href="info_products.html">Products</a></li>
                  <li><a href="info_pricing.html">Pricing</a></li>
                  <li><a href="info_tutorials.html">Tutorials</a></li>
                  <li><a href="info_api_documentation.html">API Documentation</a></li>
                  <li><a href="info_faq.html">FAQ</a></li>
                  <li><a href="term_of_use.html">Term of Use</a></li>
                  <li><a href="info_contact.html">Contact</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cf_dashboard_middle_wrapper">
      <div class="cf_dashboard_header">
        <div class="sidebar_toggle">
          <span class="cf_icon cf_down"></span>
        </div>
        <div class="menu_toggle">
          <span class="cf_icon cf_bar"></span>
        </div>
        <div class="cf_dashboard_header_breadcrumb">
          <ul>
            <li><a href="home.html" class="">Home</a></li>
          </ul>
        </div>
        <div class="cf_dashboard_header_profile">
          <ul>
            <li>
              <h5>{{fname}} </h5>
            </li>
            <li>
              <div class="cf_header_profile_toggle">
                <a href="javascript:;"><img src="assets/images/mini_profile.png" alt="profile"></a>
                <span class="cf_icon cf_down_black"></span>
                <ul>
                  <li>
                    <a routerLink="editprofile" (click)="editProfile()" ><span class="cf_icon cf_edit"></span> My Profile</a>
                  </li>
                  <li>
                    <a href="javascript:;"><span class="cf_icon cf_bookmark"></span>My Preferences</a>
                  </li>
                  <li>
                    <a href="javascript:;"><span class="cf_icon cf_setting"></span>Subscriptions</a>
                  </li>
                  <li>
                    <a href="javascript:;"><span class="cf_icon cf_phone"></span>Contact Account Manager</a>
                  </li>
                  <li>
                    <a href="javascript:;" data-bs-toggle="modal" (click)="logout()" data-bs-target="#cf_logout"><span
                        class="cf_icon cf_logout"></span>
                      Logout</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="cf_dashboard_middle_inner">
       <div class="cf_headlines_wrapper">
        <div class="row">
            <div class="col-xxl-9 col-xl-12 col-lg-7 col-md-12">
              <div class="cf_block headline_block">
                <div class="headline_block_inner">
                  <div class="headline_header">
                    <div class="main_title">
                      <h2>Headlines</h2>
                    </div>
                    <div class="search_bar">
                      <input type="text" placeholder="Search">
                      <img src="assets/images/search.svg" class="search_icon" alt="Search">
                    </div>
                  </div>
                  <div class="sub_title">
                    <h3>Today - June 15th 2022</h3>
                  </div>
                  <ul class="headline_lists">
                    <li>
                      <span class="time">15.09</span>
                      <p>Despite sharp drop in MATIF wheat futures spec has NOT reduced their longs</p>
                    </li>
                    <li>
                      <span class="time">12.48</span>
                      <p>Ceras Analytics raised the EU28 rapeseed crop by 0,4Mt to 19,8Mt. Go to S&D....</p>
                    </li>
                    <li>
                      <span class="time">09.55</span>
                      <p class="underline">Daily News</p>
                    </li>
                    <li class="red">
                      <span class="time">15.09</span>
                      <p>Despite sharp drop in MATIF wheat futures spec has NOT reduced their longs</p>
                    </li>
                    <li>
                      <span class="time">12.48</span>
                      <p>Ceras Analytics raised the EU28 rapeseed crop by 0,4Mt to 19,8Mt. Go to S&D....</p>
                    </li>
                    <li>
                      <span class="time">09.55</span>
                      <p class="underline">Daily News</p>
                    </li>
                  </ul>
                </div>
                <div class="headline_block_inner">
                  <div class="sub_title">
                    <h3>Yesterday - June 9th 2022</h3>
                  </div>
                  <ul class="headline_lists">
                    <li>
                      <span class="time">15.09</span>
                      <p>Despite sharp drop in MATIF wheat futures spec has NOT reduced their longs</p>
                    </li>
                    <li>
                      <span class="time">12.48</span>
                      <p>Ceras Analytics raised the EU28 rapeseed crop by 0,4Mt to 19,8Mt. Go to S&D....</p>
                    </li>
                    <li>
                      <span class="time">09.55</span>
                      <p class="underline">Daily News</p>
                    </li>
                    <li class="red">
                      <span class="time">15.09</span>
                      <p>Despite sharp drop in MATIF wheat futures spec has NOT reduced their longs</p>
                    </li>
                    <li>
                      <span class="time">12.48</span>
                      <p>Ceras Analytics raised the EU28 rapeseed crop by 0,4Mt to 19,8Mt. Go to S&D....</p>
                    </li>
                    <li>
                      <span class="time">09.55</span>
                      <p class="underline">Daily News</p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12">
                  <div class="cf_block chart_block mb-0">
                    <div class="main_title">
                      <h2>Chart Of The Day</h2>
                      <p>
                        In this sentence you can read why this chart is important for today
                      </p>
                    </div>
                    <div class="sub_title mb-0">
                      <h3>Russian wheat discount to EU</h3>
                    </div>
                    <div class="sf_chart">
                      <img src="assets/images/chart.png" class="img-fluid" alt="chart">
                    </div>
                    <ul class="chart_btns">
                      <li><a href="javascript:;"><span class="material-symbols-outlined">chevron_left</span> Previous</a></li>
                      <li><a href="javascript:;">Next <span class="material-symbols-outlined"> chevron_right </span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12">
                  <div class="cf_block price_overview_block mt_16">
                    <div class="main_title">
                      <h2>Price Overview</h2>
                      <p>
                        Last Updated: 15/06/2022 16:07
                      </p>
                    </div>
                    <ul class="price_ov_list">
                      <li>
                        <p>MATIF DEC 22</p>
                          <div class="price green">
                            +4.50 <img src="assets/images/green_caret.svg" alt="caret">
                          </div>
                      </li>
                      <li>
                        <p>MATIF RAPESEED</p>
                        <div class="price_wrapper">
                          <span>CBOT</span>
                          <div class="price red">
                            -4.00 <img src="assets/images/red_caret.svg" alt="caret">
                          </div>
                        </div>
                      </li>
                      <li>
                        <p>CORN DEC 22</p>
                          <div class="price green">
                            +1.00 <img src="assets/images/green_caret.svg" alt="caret">
                          </div>
                      </li>
                      <li>
                        <p>MATIF DEC 22</p>
                        <div class="price green">
                          +4.50 <img src="assets/images/green_caret.svg" alt="caret">
                        </div>
                      </li>
                      <li>
                        <p>MATIF RAPESEED</p>
                        <div class="price_wrapper">
                          <span>CBOT</span>
                          <div class="price red">
                            -4.00 <img src="assets/images/red_caret.svg" alt="caret">
                          </div>
                        </div>
                      </li>
                      <li>
                        <p>CORN DEC 22</p>
                        <div class="price green">
                          +1.00 <img src="assets/images/green_caret.svg" alt="caret">
                        </div>
                      </li>
                      <li>
                        <p>MATIF DEC 22</p>
                        <div class="price green">
                          +4.50 <img src="assets/images/green_caret.svg" alt="caret">
                        </div>
                      </li>
                      <li>
                        <p>MATIF RAPESEED</p>
                        <div class="price_wrapper">
                          <span>CBOT</span>
                        <div class="price red">
                          -4.00 <img src="assets/images/red_caret.svg" alt="caret">
                        </div>
                        </div>
                      </li>
                      <li>
                        <p>CORN DEC 22</p>
                        <div class="price green">
                          +1.00 <img src="assets/images/red_caret.svg" alt="caret">
                        </div>
                      </li>
                      <li>
                        <p>EURUSD</p>
                        <div class="price red">
                          -0.01 <img src="assets/images/red_caret.svg" alt="caret">
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-xxl-3 col-xl-12 col-lg-5 col-md-12">
                <div class="cf_block calendar_wrapper">
                  <div class="main_title">
                    <h2>Calendar</h2>
                  </div>
                  <div class="calendar">
                    <div id="calendar"></div>
                  </div>
                  <div class="calendar_block_wrapper">
                    <div class="calendar_block">
                      <div class="sub_title">
                        <h3>Today - June 15th 2022</h3>
                      </div>
                      <div class="calendar_list">
                        <ul>
                          <li class="green_dot">
                            <h6>SG Grains Report</h6>
                            <p>10:30</p>
                          </li>
                          <li class="green_dot">
                            <h6>FAS Weekly Exports</h6>
                            <p>14:00</p>
                          </li>
                          <li class="green_dot">
                            <h6>ECB Rate Decesion</h6>
                            <p>16:45</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="calendar_block cl_red">
                      <div class="sub_title">
                        <h3>Tomorrow - June 16th 2022</h3>
                      </div>
                      <div class="calendar_list">
                        <ul>
                          <li class="red_dot">
                            <h6>MPOB Report</h6>
                            <p>13:00</p>
                          </li>
                          <li class="red_dot">
                            <h6>USDA Wasde June Report</h6>
                            <p>19:30</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="calendar_block">
                      <div class="sub_title">
                        <h3>Tuesday - June 20th 2022</h3>
                      </div>
                      <div class="calendar_list">
                        <ul>
                          <li class="green_dot">
                            <h6>NASS Crop Progress</h6>
                            <p>13:40</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="calendar_block">
                      <div class="sub_title">
                        <h3>Today - June 22th 2022</h3>
                      </div>
                      <div class="calendar_list">
                        <ul>
                          <li class="green_dot">
                            <h6>SG Grains Report</h6>
                            <p>10:30</p>
                          </li>
                          <li class="green_dot">
                            <h6>FAS Weekly Exports</h6>
                            <p>14:00</p>
                          </li>
                          <li class="green_dot">
                            <h6>ECB Rate Decesion</h6>
                            <p>16:45</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
       </div>
      </div>
    
    </div>

    <!--Logout Modal-->
    <!-- Modal -->
    <div class="modal fade cf_modal" id="cf_logout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="cf_logoutLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <span class="cf_icon cf_close" data-bs-dismiss="modal" aria-label="Close"></span>
          </div>
          <div class="modal-body">
            <div class="cf_logout_popup_wrapper">
              <h2>Are you sure?</h2>
              <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur aliquet quam id dui
                posuere blandit. Sed porttitor </p>
              <div class="cf_popup_btn_wrapper">
                <a href="javascript:;" class="cf_btn cf_btn_white">No</a>
                <a href="javascript:;" class="cf_btn">Yes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Logout Modal-->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/mini-event-calendar.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
      var sameDaylastWeek = new Date().setDate(new Date().getDate() - 7);
      var someDaynextMonth = new Date().setDate(new Date().getDate() + 31);

      // All dates should be provided in timestamps
      var sampleEvents = [
        {
          title: "Soulful sundays bay area",
          date: sameDaylastWeek, // Same day as today, last week
          link: "https://www.eventbrite.com/e/soulful-sundays-bay-area-edition-tickets-55214242285?aff=ehomecard"
        },
        {
          title: "London Comicon",
          date: new Date().getTime(), // Today
          link: "https://www.eventbrite.co.uk/e/london-film-comic-con-summer-2019-tickets-49472593860?aff=ebdssbdestsearch"
        },
        {
          title: "Youth Athletic Camp",
          date: someDaynextMonth, // Some day as today, next month
          link: "https://www.eventbrite.com/e/leaner-stronger-faster-tm-youth-athletic-camp-2021-tickets-38245970728?aff=ebdssbdestsearch"
        }
      ];

      $(document).ready(function () {
        $("#calendar").MEC({
          events: sampleEvents
        });
      });
    </script>
</body>
</html>


<router-outlet>

</router-outlet>