<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact - Cafetra</title>
  <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/common.css">
  <link rel="stylesheet" href="assets/css/landing.css">
  <link rel="stylesheet" href="assets/css/custom.css"> -->
</head>
<body>
  <div class="cf_landing_main_wrapper">
    <header class="cf_landing_header_wrapper">
      <div class="container">
        <div class="cf_landing_header_inner">
          <div class="cf_landing_header_left">
            <div class="cf_landing_logo">
              <span class="cf_icon cf_bar"></span>
              <a href="javascript:;"><img src="assets/images/logo3.svg" alt="logo" class="img-fluid"></a>
            </div>
            <div class="cf_landing_nav">
              <span class="cf_icon cf_close"></span>
              <ul class="cf_mob_navBtns">
                <li><a routerLink="../login">Login</a></li>
                <li><a routerLink="../registration" class="cf_btn">Start Free Trial</a></li>
              </ul>
              <ul>
                <li class="cf_subnav_list">
                  <a href="javascript:;">Ceres Analytics</a>
                  <ul class="cf_subnav">
                    <li><a href="javascript:;">Home</a></li>
                    <li><a href="javascript:;">Video Tour</a></li>
                    <li><a href="javascript:;">How we compare</a></li>
                  </ul>
                </li>
                <li class="cf_subnav_list">
                  <a href="javascript:;">Products</a>
                  <ul class="cf_subnav">
                    <li><a href="javascript:;">Weather</a></li>
                    <li><a href="javascript:;">Crop</a></li>
                    <li><a href="javascript:;">Trade</a></li>
                    <li><a href="javascript:;">S&D</a></li>
                    <li><a href="javascript:;">Price</a></li>
                    <li><a href="javascript:;">Price Analysis</a></li>
                    <li><a href="javascript:;">Sentiment</a></li>
                    <li><a href="javascript:;">Recaps</a></li>
                    <li><a href="javascript:;">Data & API</a></li>
                  </ul>
                </li>
                <li><a href="javascript:;">Pricing</a></li>
                <li><a href="javascript:;" class="active">Contact Us</a></li>
                <li><a routerLink="../about">About Us</a></li>
              </ul>
            </div>
          </div>
          <div class="cf_landing_header_right">
            <ul>
              <li><a routerLink="../login" class="login_btn">Login</a></li>
              <li><a routerLink="../registration" class="cf_btn">Start Free Trial</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section class="cf_breadcrumb_wrapper contact_breadcrumb">
      <div class="container">
        <div class="cf_breadcrumb_inner">
          <!-- <h3>Ceras Analytics <span>Products</span></h3> -->
          <h3><span>Contact</span> Us</h3>
          <!-- <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo</p> -->
        </div>
      </div>
    </section>
    <section class="cf_contact_wrapper">
      <div class="container">
        <div class="cf_contact_inner">
          <h3 class="cf_contact_heading">Contact</h3>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactEmail_block">
                <h4><span class="cf_icon"></span> For General Questions:</h4>
                <h5>info@ceras-analytics.com</h5>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactEmail_block">
                <h4><span class="cf_icon cf_existing"></span> For New & Existing Customers</h4>
                <h5>sales@ceras-analytics.com</h5>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactEmail_block">
                <h4><span class="cf_icon cf_technical"></span> For Technical Support</h4>
                <h5>support@ceras-analytics.com</h5>
              </div>
            </div>
          </div>
          <h3 class="cf_contact_heading m-top">Office</h3>
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <div class="cf_contactEmail_block cf_office">
                <h6><span class="cf_icon location"></span>Boompjes 40, 3011 XB Rotterdam Zuid-Holland, Nederland</h6>
              </div>
            </div>
          </div>
          <h3 class="cf_contact_heading m-top">The Team</h3>
        </div>
      </div>
      <div class="cf_contactTeam_section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="cf_contactTeam_heading">
                <h2>FUNDAMENTAL MARKET ANALYSTS</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactMember_block">
                <div class="cf_contactImage_block">
                  <img src="assets/images/contact/Harm-bewerkt_Low-Res_.jpg" alt="images" class="img-fluid">
                </div>
                <h4>Harm de Wilde</h4>
                <h6>wilde@cefetra.nl</h6>
                <h5><span class="cf_icon"></span>+31 (0) 650 214 071</h5>
                <p>Focus: Grains, soycomplex, co-products and livestock markets</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactMember_block">
                <div class="cf_contactImage_block">
                  <img src="assets/images/contact/Artem-bewerkt_Low-Res_.jpg" alt="images" class="img-fluid">
                </div>
                <h4>Artem Hammerschmidt</h4>
                <h6>hammerschmidt@cefetra.nl</h6>
                <h5><span class="cf_icon"></span>+49 173 5648466</h5>
                <p>Focus: Biofuels, softseeds and vegetable oils</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactMember_block">
                <div class="cf_contactImage_block">
                  <img src="assets/images/blankimg.png" alt="images" class="img-fluid">
                </div>
                <h4>Jonathan Mummery</h4>
                <h6>Mummery@cefetra.nl</h6>
                <h5><span class="cf_icon"></span>+31 (0) 10 400 7625</h5>
                <p>Focus: Dairy, gluten, starch and super foods </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cf_contactTeam_section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="cf_contactTeam_heading">
                <h2>QUANTS</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactMember_block">
                <div class="cf_contactImage_block">
                  <img src="assets/images/contact/Dick-bewerkt_Low-Res_.jpg" alt="images" class="img-fluid">
                </div>
                <h4>Dick van Antwerpen</h4>
                <h6>antwerpen@cefetra.nl</h6>
                <h5><span class="cf_icon"></span>+31 (0)6 83 52 06 71</h5>
                <p>Focus: Money flows, fair values, technical analysis and other quantitative models</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactMember_block">
                <div class="cf_contactImage_block">
                  <img src="assets/images/contact/Kjeld-bewerkt_Low-Res_.jpg" alt="images" class="img-fluid">
                </div>
                <h4>Kjeld Snoep</h4>
                <h6>snoep@cefetra.nl</h6>
                <h5><span class="cf_icon"></span>+31 (0)6 83 02 60 72</h5>
                <p>Focus: Yield models, seasonalities, technical analysis and other quantitative analysis</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactMember_block">
                <div class="cf_contactImage_block">
                  <img src="assets/images/blankimg.png" alt="images" class="img-fluid">
                </div>
                <h4>We Are Hiring</h4>
                <!-- <h6>antwerpen@cefetra.nl</h6>
                <h5><span class="cf_icon"></span>+31 (0)6 83 52 06 71</h5>
                <p>Role: Data Scientist with AI/ML Experience</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cf_contactTeam_section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="cf_contactTeam_heading">
                <h2>DATA ENGINEERS</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactMember_block">
                <div class="cf_contactImage_block">
                  <img src="assets/images/contact/Nick-bewerkt_Low-Res_.jpg" alt="images" class="img-fluid">
                </div>
                <h4>Nick Valstar</h4>
                <h6>valstar@cefetra.nl</h6>
                <p>Role: Lead Data</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactMember_block">
                <div class="cf_contactImage_block">
                  <img src="assets/images/contact/Oscar-bewerkt_Low-Res_.jpg" alt="images" class="img-fluid">
                </div>
                <h4>Oscar Heerkens Thijssen</h4>
                <h6>Heerkens-Thijssen@cefetra.nl</h6>
                <p>Role: Back-end developer</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactMember_block">
                <div class="cf_contactImage_block">
                  <img src="assets/images/contact/Rogier-bewerkt_Low-Res_.jpg" alt="images" class="img-fluid">
                </div>
                <h4>Rogier Mangoensentono</h4>
                <h6>mangoensentono@cefetra.nl</h6>
                <p>Role: Front-end Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cf_contactTeam_section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="cf_contactTeam_heading">
                <h2>ACCOUNT MANAGEMENT</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_contactMember_block">
                <div class="cf_contactImage_block">
                  <!-- <img src="assets/images/contact/Harm-bewerkt_Low-Res_.jpg" alt="images" class="img-fluid"> -->
                  <img src="assets/images/blankimg.png" alt="images" class="img-fluid">
                  
                </div>
                <!-- <h4>Harm de Wilde</h4> -->
                <h4>We Are Hiring</h4>
                <!-- <h6>wilde@cefetra.nl</h6>
                <h5><span class="cf_icon"></span>+31 (0) 650 214 071</h5>
                <p>Focus: Grains, soycomplex, co-products and livestock markets </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="cf_landingFooter_wrapper">
      <div class="container">
        <div class="cf_landingFooter_inner">
          <div class="cf_landingFooter_left">
            <div class="cf_landingFooter_logo">
              <a href="javascript:;"><img src="assets/images/footer_logo.png" alt="Footer Logo" class="img-fluid"></a>
            </div>
            <p><span class="cf_icon cf_location"></span>Boompjes 40, 3011 XB Rotterdam, Netherlands</p>
          </div>
          <div class="cf_landingFooter_right">
            <ul class="cf_landinFooter_navLink">
              <li><a href="javascript:;">Terms & Conditions</a></li>
              <li><a href="javascript:;">Privacy</a></li>
              <li><a href="javascript:;">Disclaimer</a></li>
              <li><a href="javascript:;">User FAQ</a></li>
            </ul>
            <ul class="cf_landinFooter_socialLink">
              <li><a href="javascript:;"><span class="cf_icon cf_facebook"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_twitter"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_insta"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_youtube"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/swiper-bundle.min.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>