h1
{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blanchedalmond;
    padding:20px;
}
mat-button-toggle-group {
    box-shadow: none;
    margin-left: 40%;
    border: none;
    float: center;
    background: none;
  }
  
  mat-button-toggle {
      /* border: 1px rgba(14, 82, 164, 0) solid !important; */
      background-color: rgb(6, 21, 111) !important;
      margin-top: 0px !important;
      padding: 0 5px !important;
      z-index: 3 !important;
      border-radius: 10px;
  }
  
  mat-button-toggle:hover {
      border: px #000 solid !important;
      background-color: rgb(25, 52, 222) !important;
      border-radius: px !important;
  }
  
  .mat-button-toggle-checked {
        box-shadow: 0 0 30px #000 !important;
      border: 0px #000 solid !important;
      border-radius: 10px !important;
      background-color:rgb(25, 52, 222) !important;
  }
  
  .mat-button-toggle-input {
      background-color: none !important;
      padding-left: 32px !important;
  }
#b2{
    margin-left: 1%;
}
button{
    border: none;
    background: none;
}