<h1>User signup form with validation(template)</h1>
<form #userform="ngForm" (ngSubmit)="signup(userform.value)">
    <input type="text" pattern="[a-zA-Z]+$" required="" pattern="[a-zA-Z]+$" name="name" #name="ngModel" ngModel
        placeholder="enter name">
    <span *ngIf="name.invalid && name.touched">**enter valid name</span>
    <br><br>
    <input type="email" name="email" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
        ngModel placeholder="enter email">
    <span *ngIf="email.invalid && email.touched">**enter valid email</span>
    <br><br>
    <input type="password" name="password" required="" #password="ngModel"
        pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" ngModel
        placeholder="enter password">
    <span *ngIf="password.invalid && password.touched">**enter valid password</span>
    <br><br>
    <input type="text" name="number" minlength="10" maxlength="12" required="" #monum="ngModel" pattern="[0-9]+$"
        ngModel placeholder="enter mobile number">
    <span *ngIf="monum.invalid && monum.touched">**enter valid number</span>
    <br><br>
    <button [disabled]="userform.invalid">Submit</button>
</form>

<br><br><br><br><br>
<h1 *ngIf="signupdata.length>0">Past signup data</h1>
<h3 *ngFor="let user of signupdata">
    <li>{{user.name}}</li>
    <li>{{user.email}}</li>
    <li>{{user.password}}</li>
    <li>{{user.number}}</li>

</h3>