<app-child1 [pdata]="text"></app-child1>



<app-child2  (updatedata)="getdata($event) "></app-child2>
<br><br><br><br><br>

<br><br><br>
<h1>Part of perent componant</h1>

<h5 *ngFor="let emp of empdata">
    <ul>
        <li>{{emp.name}}</li>
    </ul>
</h5>








<!-- 

<button style="align-items: center;margin-left: 42% ;" mat-raised-button color="primary" (click)="empname()">Employee name</button>
<button style="align-items: center;margin-left: 2% ;" mat-raised-button color="primary" (click)="empdetail()">Employee detail</button> -->
 -->

<!-- <h3>employee name from empdata</h3>
<app-empname [empname]="empdata"></app-empname>



<h3>employee full detail from emp data</h3>
<app-empdetail [empdetail]="empdata"></app-empdetail> -->


<router-outlet></router-outlet>
