<form [formGroup]="myForm" (ngSubmit)="saveForm(myForm.value)">
  

    <label>
        name
        <input type="text" class="form-control" formControlName="name">
    </label>
    <span style="color:red ;"
        *ngIf="(myForm.get('name').touched || myForm.get('name').dirty) && myForm.get('name').invalid">
        name required
    </span><br><br>
            <label>
                email
                <input type="text" class="form-control" formControlName="email">
            </label>
            <!-- <span class="invalid-feedback"
            *ngIf="myForm.get('email').touched || myForm.get('email').dirty">
            email id required
        </span> -->
            <span style="color:red ;"
                *ngIf="myForm.get('email').touched && myForm.get('email').invalid">
                email domain is not valid
            </span><br><br>
        <button >submit</button>
</form>