<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing - Cafetra</title>
  <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/common.css">
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/custom.css"> -->
</head>
<body>
  <div class="cf_landing_main_wrapper">
    <header class="cf_landing_header_wrapper">
      <div class="container">
        <div class="cf_landing_header_inner">
          <div class="cf_landing_header_left">
            <div class="cf_landing_logo">
              <span class="cf_icon cf_bar"></span>
              <a href="javascript:;"><img src="../../../assets/images/logo3.svg" alt="logo" class="img-fluid"></a>
            </div>
            <div class="cf_landing_nav">
              <span class="cf_icon cf_close"></span>
              <ul class="cf_mob_navBtns">
                <li><a href="javascript:;" class="login_btn">Login</a></li>
                <li><a routerLink="registration" class="cf_btn">Start Free Trial</a></li>
              </ul>
              <ul>
                <li class="cf_subnav_list">
                  <a href="javascript:;">Ceres Analytics</a>
                  <ul class="cf_subnav">
                    <li><a href="javascript:;">Home</a></li>
                    <li><a href="javascript:;">Video Tour</a></li>
                    <li><a href="javascript:;">How we compare</a></li>
                  </ul>
                </li>
                <li class="cf_subnav_list">
                  <a href="javascript:;">Products</a>
                  <ul class="cf_subnav">
                    <li><a href="javascript:;">Weather</a></li>
                    <li><a href="javascript:;">Crop</a></li>
                    <li><a href="javascript:;">Trade</a></li>
                    <li><a href="javascript:;">S&D</a></li>
                    <li><a href="javascript:;">Price</a></li>
                    <li><a href="javascript:;">Price Analysis</a></li>
                    <li><a href="javascript:;">Sentiment</a></li>
                    <li><a href="javascript:;">Recaps</a></li>
                    <li><a href="javascript:;">Data & API</a></li>
                  </ul>
                </li>
                <li><a href="javascript:;">Pricing</a></li>
                <li><a routerLink="contact">Contact Us</a></li>
                <li><a routerLink="about">About Us</a></li>
              </ul>
            </div>
          </div>
          <div class="cf_landing_header_right">
            <ul>
              <li><a routerLink="login" class="login_btn">Login</a></li>
              <li><a routerLink="registration" class="cf_btn">Start Free Trial</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section class="cf_landing_banner_wrapper ">
      <div class="container">
        <div class="cf_landing_banner_inner">
          <h1>Your tool to <span>FORECAST</span> <br> agri-commodity markets</h1>
          <a routerLink="registration" class="cf_btn big_cf_btn">Start Free Trial</a>
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="cf_landing_banner_image">
                  <img src="assets/images/landing_banner_mac1.png" alt="Mac" class="img-fluid">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cf_landing_banner_image">
                  <img src="assets/images/landing_banner_mac2.png" alt="Mac" class="img-fluid">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cf_landing_banner_image">
                  <img src="assets/images/landing_banner_mac3.png" alt="Mac" class="img-fluid">
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cf_landing_banner_image">
                  <img src="assets/images/landing_banner_mac4.png" alt="Mac" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- Analytics -->
    <section class="cf_purpose_wrapper cf_analytics_wrapper sec_padding">
        <div class="container">
            <div class="cf_purpose_inner">
                <div class="cf_landing_heading">
                    <h3>What makes Ceras Analytics <span>UNIQUE</span></h3>
                </div>
                <div class="cf_purpose_right">
                    <div class="cf_purpose_rightBlock">
                        <div class="cf_purpose_rightHeading">
                            <h2>COMPLETE</h2>
                            <h4>One stop shop for all <br> your needs</h4>
                        </div>
                        <ul class="cf_purpose_list">
                            <li>
                                <span class="cf_icon cf_weather"></span> Weather
                            </li>
                            <li>
                                <span class="cf_icon cf_crops"></span> Crops
                            </li>
                            <li>
                                <span class="cf_icon cf_sds"></span> S&amp;Ds
                            </li>
                            <li>
                                <span class="cf_icon cf_trade"></span> Trade
                            </li>
                            <li>
                                <span class="cf_icon cf_price_analysis"></span> Price Analysis
                            </li>
                            <li>
                                <span class="cf_icon cf_policy"></span> Policies
                            </li>
                        </ul>
                    </div>
                    <div class="cf_purpose_rightBlock">
                        <div class="cf_purpose_rightHeading">
                            <h2>For Everyone</h2>
                            <h4>High level overviews as well as <br> detailed analysis</h4>
                        </div>
                        <ul class="cf_purpose_list">
                            <li>
                                <span class="cf_icon cf_collect"></span> Collect
                            </li>
                            <li>
                                <span class="cf_icon cf_trade"></span> Trade
                            </li>
                            <li>
                                <span class="cf_icon cf_procurers"></span> Procurers
                            </li>
                            <li>
                                <span class="cf_icon cf_risk"></span> Risk Managers
                            </li>
                            <li>
                                <span class="cf_icon cf_policy"></span> Policy Makers
                            </li>
                            <li>
                                <span class="cf_icon cf_market_analysis"></span> Market Analysts
                            </li>
                        </ul>
                    </div>
                    <div class="cf_purpose_rightBlock">
                        <div class="cf_purpose_rightHeading">
                            <h2>Forward Looking</h2>
                            <h4>Focus on market direction</h4>
                        </div>
                        <div class="bar_graph_image">
                            <img src="assets/images/bar_graph.svg" alt="Graph" class="img-fluid">
                        </div>
                    </div>
                    <div class="cf_purpose_rightBlock">
                        <div class="cf_purpose_rightHeading">
                            <h2>Competitive</h2>
                        </div>
                        <h3>Starting from just <span>€199/month</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Offers -->
    <section class="cf_offer_wrapper sec_padding">
        <div class="container">
            <div class="cf_offer_inner">
                <div class="cf_landing_heading">
                    <h3>What we <span>OFFER</span></h3>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="offer_image">
                            <img src="assets/images/offer.png" class="img-fluid" alt="offer">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="offer_content">
                            <ul>
                                <li>Platform and reports covering fundamental data and price analysis</li>
                                <li>For grains, oilseeds complex, co-products, livestock and biofuel markets</li>
                                <li>Global view from North America, South America, Asia, Blacksea and the EU</li>
                                <li>One stop shop for weather, crop forecasting, supply & demand forecasting, price analysis and much more</li>
                                <li>Interactive and customizable, e.g., run your own S&D’s</li>
                                <li>Easy login</li>
                                <li>Access to unique EU data</li>
                                <li>Starting from just €199/month</li>
                            </ul>
                            <div class="text-center">
                                <a href="javascript:;" class="cf_btn big_cf_btn">View All Products</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cf_approach_wrapper sec_padding">
      <div class="container">
        <div class="cf_approach_inner">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="cf_landing_heading">
                <h3>Our <span>APPROACH</span></h3>
              </div>
            </div>
          </div>
          <div class="cf_approach_section">
            <div class="cf_approach_sectionTop">
              <div class="cf_approach_arrows">
                <div class="cf_approach_block">
                  <h3>Fundamental <br>Drivers</h3>
                  <ul>
                    <li>
                      <span><img src="assets/images/landing-icons/weather.svg" alt="image"></span>
                      <label>Weather & <br> Yield Models</label>
                    </li>
                    <li>
                      <span><img src="assets/images/landing-icons/planting.svg" alt="image"></span>
                      <label>Planting</label>
                    </li>
                    <li>
                      <span><img src="assets/images/landing-icons/livestock.svg" alt="image"></span>
                      <label>Livestock Markets</label>
                    </li>
                    <li>
                      <span><img src="assets/images/landing-icons/feed.svg" alt="image"></span>
                      <label>Feed demand</label>
                    </li>
                    <li>
                      <span><img src="assets/images/landing-icons/trade.svg" alt="image"></span>
                      <label>Trade Flows</label>
                    </li>
                    <li>
                      <span><img src="assets/images/landing-icons/policies.svg" alt="image"></span>
                      <label>Policies</label>
                    </li>
                  </ul>
                </div>
                <div class="cf_approach_block">
                  <h3>Putting it all <br>together</h3>
                  <ul>
                    <li>
                      <span><img src="assets/images/landing-icons/supply.svg" alt="image"></span>
                      <label class="no_underline">Supply & Demand</label>
                    </li>
                    <li>
                      <span></span>
                      <label>Quantitative & <br> Anticipatory</label>
                    </li>
                  </ul>
                </div>
                <div class="cf_approach_block">
                  <h3>Quantitative <br>Layover</h3>
                  <ul>
                    <li>
                      <span><img src="assets/images/landing-icons/fair.svg" alt="image"></span>
                      <label>Fair Values</label>
                    </li>
                    <li>
                      <span><img src="assets/images/landing-icons/algo.svg" alt="image"></span>
                      <label>Algo Trend <br>Signals</label>
                    </li>
                    <li>
                      <span><img src="assets/images/landing-icons/liquidity.svg" alt="image"></span>
                      <label>Liquidity & <br>Sentiment</label>
                    </li>
                    <li>
                      <span><img src="assets/images/landing-icons/macros.svg" alt="image"></span>
                      <label>Macros</label>
                    </li>
                    <li>
                      <span><img src="assets/images/landing-icons/seasonalities.svg" alt="image"></span>
                      <label>Seasonalities</label>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="cf_approach_thumb">
                <div class="cf_approach_thumbBlock">
                  <img src="assets/images/landing-icons/bulb.svg" alt="image">
                  <h3>Market<br>Direction</h3>
                </div>
              </div>
            </div>
            <div class="cf_approach_sectionBottom">
              <div class="cf_approach_sectionBottomInner">
                <h3>Ceras Analytics - Unique Quantitative Approach to Agri Markets</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Feature -->
    <section class="cf_feature_wrapper sec_padding">
      <div class="container">
        <div class="cf_feature_inner">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="cf_landing_heading">
                <h3>Our <span>KEY PRODUCTS</span></h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_deature_block">
                <div class="feature_head">
                    <div class="cf_feature_icon">
                        <img src="assets/images/weather.svg" alt="Features">
                    </div>
                    <h4>Weather Report & Dashboard</h4>
                </div>
                <p>Our user-friendly charts and customizable maps make it easy for everyone to understand the weather that matters.</p>
                <a href="javascript:;">View Details <span class="arrow"></span></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_deature_block">
                <div class="feature_head">
                    <div class="cf_feature_icon">
                        <img src="assets/images/yield.svg" alt="Features">
                    </div>
                    <h4>Yield <br> Models</h4>
                </div>                
                <p>Quickly understand how the weather is impacting crops worldwide, including the latest weather forecasts.</p>
                <a href="javascript:;">View Details <span class="arrow"></span></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_deature_block">
                <div class="feature_head">
                    <div class="cf_feature_icon">
                    <img src="assets/images/sd.svg" alt="Features">
                    </div>
                    <h4>S&D’s</h4>
                </div>
                <p>While it's easy to understand whether grain & oilseeds commodities are tight or ample, our S&D’s give much more details
                in an easy way to understand the whole picture.</p>
                <a href="javascript:;">View Details<span class="arrow"></span></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_deature_block">
                <div class="feature_head">
                    <div class="cf_feature_icon">
                    <img src="assets/images/fair.svg" alt="Features">
                    </div>
                    <h4>Fair <br> Values</h4>
                </div>
                <p>Quickly understand which markets, outright but also spreads, are over or undervalued basis fundamentals.</p>
                <a href="javascript:;">View Details <span class="arrow"></span></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_deature_block">
                <div class="feature_head">
                    <div class="cf_feature_icon">
                    <img src="assets/images/scorecard.svg" alt="Features">
                    </div>
                    <h4>Market Scorecard</h4>
                </div>
                <p>See in one glance for each major market how all market drivers are influencing the price right now and how that is
                changing.</p>
                <a href="javascript:;">View Details<span class="arrow"></span></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="cf_deature_block">
                  <div class="feature_head">
                    <div class="cf_feature_icon">
                        <img src="assets/images/big_picture.svg" alt="Features">
                    </div>
                    <h4>The big picture</h4>
                  </div>                
                <p>This two-weekly presentation provides a high level overview of what is happening in the market and what are things to
                keep an eye on going forward.</p>
                <a href="javascript:;">View Details<span class="arrow"></span></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="text-center">
                <a href="javascript:;" class="cf_btn big_cf_btn">View all Products</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>   
    <section class="cf_who_wrapper sec_padding">
      <div class="container">
        <div class="cf_who_inner">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="cf_landing_heading">
                <h3 class=" text-start">Who are <span>WE</span></h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="cf_who_left">
                <ul>
                  <li>Ceras Analytics is part of the Cefetra group, under this name we offer our high quality research to third parties </li>
                  <li>Team of Data Engineers, Quants and Fundamental Analysts</li>
                  <li>Analysts forecasting price direction rather than just reporting the current status of the market</li>
                  <li>Combined experience of over 30 years</li>
                </ul>
              </div>
              <div class="text-center mt-5">
                <a href="javascript:;" class="cf_btn big_cf_btn">Learn more about us</a>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="cf_who_right">
                <img src="assets/images/landing-icons/who_we.png" alt="images" class="img-fluid">
                <div class="cf_video_play_overlay">
                  <span><img src="assets/images/play_btn.svg" alt="play" class="img-fluid"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cf_howCompare_wrapper sec_padding">
      <div class="container">
        <div class="cf_howCompare_inner">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="cf_landing_heading">
                <h3>How we <span>COMPARE</span></h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="cf_compareTable">
                <div class="table-responsive mb-5">
                  <table cellpadding="0" cellspacing="0">
                    <tr>
                      <th>Products</th>
                      <th>Ceras Analytics</th>
                      <th>Maxar/ Speedwell</th>
                      <th>Aura Commodities</th>
                      <th>Agflow</th>
                      <th>Agricensus</th>
                      <th>Strategie Grains</th>
                      <th>Oilworld</th>
                      <th>Annual Competitors Price Range</th>
                    </tr>
                    <tr>
                      <td>Weather</td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>10-40 K</td>
                    </tr>
                    <tr>
                      <td>Yield Models</td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td></td>
                      <td><img src="assets/images/landing-icons/orng_circle.svg" alt="check"></td>
                      <td></td>
                      <td></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td></td>
                      <td>5-20 K</td>
                    </tr>
                    <tr>
                      <td>S&D’s</td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/orng_circle.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/orng_circle.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td>2-40 K</td>
                    </tr>
                    <tr>
                      <td>Trade Data</td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td>5-40 K</td>
                    </tr>
                    <tr>
                      <td>Price</td>
                      <td><img src="assets/images/landing-icons/orng_circle.svg" alt="check"></td>
                      <td></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/orng_circle.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td>10-25 K</td>
                    </tr>
                    <tr>
                      <td>Price Analysis</td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>News</td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td></td>
                      <td></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td>2-30 K</td>
                    </tr>
                    <tr>
                      <td>The Big Picture</td>
                      <td><img src="assets/images/landing-icons/green_check.svg" alt="check"></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>-</td>
                    </tr>
                  </table>
                </div>
                <h3>Ceras Analytics: complete and competitive</h3>
                <h4>Available at a starting price of €199/month.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cf_testimonial_wrapper">
      <div class="container">
        <div class="cf_testimonial_inner">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <div class="cf_testimonial_heading">
                <h3>What <span>OUR CUSTOMERS</span> Say</h3>
              </div>
            </div>
            <div class="col-lg-9 col-md-9">
              <div class="cf_testimonial_slider">
                <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="cf_testimonial_sliderBlock">
                        <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor</p>

                        <h4>Scarlett Johansson</h4>
                        <h6>CEO at XYZ</h6>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="cf_testimonial_sliderBlock">
                        <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor</p>

                        <h4>Scarlett Johansson</h4>
                        <h6>CEO at XYZ</h6>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="cf_testimonial_sliderBlock">
                        <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor</p>

                        <h4>Scarlett Johansson</h4>
                        <h6>CEO at XYZ</h6>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="cf_testimonial_sliderBlock">
                        <p>Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh.Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Sed porttitor</p>

                        <h4>Scarlett Johansson</h4>
                        <h6>CEO at XYZ</h6>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cf_compare_wrapper sec_padding">
      <div class="container">
        <div class="cf_trial_wrapper">
          <div class="cf_trial_left">
            <div class="cf_trial_imageBlock">
              <img src="assets/images/trial_image.png" alt="Trial" class="img-fluid">
            </div>
          </div>
          <div class="cf_trial_right">
            <div class="cf_trial_contentBlock">
              <a routerLink="registration" class="cf_btn cf_btn_white">Start Free Trial</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="cf_landingFooter_wrapper">
      <div class="container">
        <div class="cf_landingFooter_inner">
          <div class="cf_landingFooter_left">
            <div class="cf_landingFooter_logo">
              <a href="javascript:;"><img src="assets/images/footer_logo.png" alt="Footer Logo" class="img-fluid"></a>
            </div>
            <p><span class="cf_icon cf_location"></span>Boompjes 40, 3011 XB Rotterdam, Netherlands</p>
          </div>
          <div class="cf_landingFooter_right">
            <ul class="cf_landinFooter_navLink">
              <li><a href="javascript:;">Terms & Conditions</a></li>
              <li><a href="javascript:;">Privacy</a></li>
              <li><a href="javascript:;">Disclaimer</a></li>
              <li><a href="javascript:;">User FAQ</a></li>
            </ul>
            <ul class="cf_landinFooter_socialLink">
              <li><a href="javascript:;"><span class="cf_icon cf_facebook"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_twitter"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_insta"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_youtube"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/swiper-bundle.min.js"></script>
  <script src="assets/js/custom.js"></script> -->
</body>
</html><router-outlet></router-outlet>