<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - Edit Profile</title>

</head>

<body >
  <div class="cf_dashboard_main_wrapper">
    <div class="cf_dashboard_sidebar_wrapper">
      <div class="cf_dashboard_sidebar_inner">
        <div class="cf_sidebar_logo_block">
          <label class="sidebar_toggle"><span class="cf_icon cf_left"></span></label>
          <a href="javascript:;"><img src="assets/images/logo.svg" alt="Cafetra" class="img-fluid"></a>
        </div>
        <div class="cf_sidebar_search_block">
          <div class="cf_sidebar_search_inner">
            <span class="cf_icon cf_search"></span>
            <input type="text" placeholder="Search here...">
          </div>
        </div>
        <div class="cf_sidebar_list_block">
          <ul class="cf_sidebar_menu">
            <li class="cf_submenu_block">
              <a href="home.html"><span class="cf_icon cf_home"></span><label>Home</label></a>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span
                  class="cf_icon cf_weather"></span><label>Weather</label><span class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="javascript:;">US Inspections</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_crops"></span><label>Crops</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="javascript:;">US Inspections</a></li>
                <li><a href="javascript:;">USDA Flash</a></li>
                <li><a href="javascript:;">EU Weekly Trade Data</a></li>
                <li><a href="javascript:;">Lineup Data</a></li>
                <li><a href="javascript:;">Tender Data</a></li>
                <li><a href="javascript:;">Custom Data</a></li>
              </ul>
            </li>

            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_sds"></span><label>S&D’s</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
                <li><a href="usdaflash.html">USDA Flash</a></li>
                <li><a href="eu_weekly_trade_data.html">EU Weekly Trade Data</a></li>
                <li><a href="line_up_data.html">Lineup Data</a></li>
                <li><a href="tender_data.html">Tender Data</a></li>
                <li><a href="custom_data.html">Custom Data</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_trade"></span><label>Trade</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
                <li><a href="usdaflash.html">USDA Flash</a></li>
                <li><a href="eu_weekly_trade_data.html">EU Weekly Trade Data</a></li>
                <li><a href="line_up_data.html">Lineup Data</a></li>
                <li><a href="tender_data.html">Tender Data</a></li>
                <li><a href="custom_data.html">Custom Data</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span
                  class="cf_icon cf_policy"></span><label>Policies</label><span class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_process"></span><label>Processing
                  Capacity</label><span class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_price"></span><label>Prices</label><span
                  class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
                <li><a href="usdaflash.html">USDA Flash</a></li>
                <li><a href="eu_weekly_trade_data.html">EU Weekly Trade Data</a></li>
                <li><a href="line_up_data.html">Lineup Data</a></li>
                <li><a href="tender_data.html">Tender Data</a></li>
                <li><a href="custom_data.html">Custom Data</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_price_analysis"></span><label>Price
                  Analysis</label><span class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
                <li><a href="usdaflash.html">USDA Flash</a></li>
                <li><a href="eu_weekly_trade_data.html">EU Weekly Trade Data</a></li>
                <li><a href="line_up_data.html">Lineup Data</a></li>
                <li><a href="tender_data.html">Tender Data</a></li>
                <li><a href="custom_data.html">Custom Data</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span
                  class="cf_icon cf_sentiment"></span><label>Sentiment</label><span class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_picture"></span><label>The Big
                  Picture</label><span class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
              </ul>
            </li>
            <li class="cf_submenu_block">
              <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_report"></span><label>Report
                  Archieve</label><span class="cf_icon cf_down"></span></a>
              <ul class="cf_sidebar_submenu">
                <li><a href="us_sales.html">US Sales</a></li>
                <li><a href="us_inspections.html">US Inspections</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="cf_info_list_block">
          <div class="cf_sidebar_list_block">
            <ul class="cf_sidebar_menu">
              <li class="cf_submenu_block">
                <a href="javascript:;" class="menu_scrl"><span class="cf_icon cf_info"></span><label>Info</label><span
                    class="cf_icon cf_down"></span></a>
                <ul class="cf_sidebar_submenu">
                  <li><a href="info_ceras_analytics.html">Ceras Analytics</a></li>
                  <li><a href="info_products.html">Products</a></li>
                  <li><a href="info_pricing.html">Pricing</a></li>
                  <li><a href="info_tutorials.html">Tutorials</a></li>
                  <li><a href="info_api_documentation.html">API Documentation</a></li>
                  <li><a href="info_faq.html">FAQ</a></li>
                  <li><a href="term_of_use.html">Term of Use</a></li>
                  <li><a href="info_contact.html">Contact</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="cf_dashboard_middle_wrapper">
      <div class="cf_dashboard_header">
        <div class="sidebar_toggle">
          <span class="cf_icon cf_down"></span>
        </div>
        <div class="menu_toggle">
          <span class="cf_icon cf_bar"></span>
        </div>
        <div class="cf_dashboard_header_nav">
          <ul>
            <li><a href="javascript:;">Home</a></li>
            <li><a href="javascript:;">Products</a></li>
            <li><a href="javascript:;">About Us</a></li>
            <li><a href="javascript:;">Contact Us</a></li>
          </ul>
        </div>
        <div class="cf_dashboard_header_profile">
          <ul>
            <li>
              <h5>John Doe</h5>
            </li>
            <li>
              <div class="cf_header_profile_toggle">
                <a href="javascript:;"><img src="assets/images/mini_profile.png" alt="profile"></a>
                <span class="cf_icon cf_down_black"></span>
                <ul>
                  <li>
                    <a href="javascript:;"><span class="cf_icon cf_edit"></span> My Profile</a>
                  </li>
                  <li>
                    <a href="javascript:;"><span class="cf_icon cf_bookmark"></span>My Preferences</a>
                  </li>
                  <li>
                    <a href="javascript:;"><span class="cf_icon cf_setting"></span>Subscriptions</a>
                  </li>
                  <li>
                    <a href="javascript:;"><span class="cf_icon cf_phone"></span>Contact Account Manager</a>
                  </li>
                  <li>
                    <a (click)="logout()" data-bs-toggle="modal" data-bs-target="#cf_logout"><span
                        class="cf_icon cf_logout"></span>
                      Logout</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="cf_dashboard_middle_inner">
        <div class="cf_dashboard_content_wrapper">
          <h3 class="cf_page_heading">Edit Profile</h3>
          <div class="cf_dashboard_content_inner">
            <div class="cf_edit_profile_wrapper">












              <form  [formGroup]="updateUserForm" >
                <div class="cf_edit_profile_section">
                  <h3 class="section_heading">General details</h3>
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="cf_edit_profile_form_block">
                        <label>First Name</label>
                        <div class="cf_form_block"><input formControlName="fname" type="text" placeholder="Enter first name"
                            class="cf_form_field"></div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="cf_edit_profile_form_block">
                        <label>Last Name</label>
                        <div class="cf_form_block"><input formControlName="lname" type="text" placeholder="Enter last name"
                            class="cf_form_field"></div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="cf_edit_profile_form_block">
                        <label>E-mail</label>
                        <div class="cf_form_block">
                          <input type="email" formControlName="email" placeholder="Enter email" class="cf_form_field">
                          <span class="cf_icon cf_mail_green"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="cf_edit_profile_form_block">
                        <label>Company</label>
                        <div class="cf_form_block">
                          <input type="text" formControlName="company" placeholder="Enter company name" class="cf_form_field">
                          <span class="cf_icon cf_suitcase"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cf_edit_profile_section">
                  <h3 class="section_heading">Change Password</h3>
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="cf_edit_profile_form_block">
                        <label>Current Password</label>
                        <div class="cf_form_block">
                          <input formControlName="currentPass" type="password" placeholder="Enter Password" class="cf_form_field">
                          <span class="cf_icon cf_eye_green"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="cf_edit_profile_form_block">
                        <label>New Password</label>
                        <div class="cf_form_block">
                          <input type="password" #newpass  formControlName="newPass" (blur)="newpassword(newpass.value)"  placeholder="Enter Password" class="cf_form_field">
                          <span class="cf_icon cf_eye_green"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="cf_edit_profile_form_block">
                        <label>Confirm Password</label>
                        <div class="cf_form_block">
                          <input type="password" #confpass  (keyup)="confpassword(confpass.value)"  placeholder="Enter Password" class="cf_form_field">
                          <span class="f_icon cf_eye_green"></span>
                          <h6 *ngIf="warning"  style="color: red;"> Please enter same Password</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cf_edit_profile_btn_wrapper">
                  <a routerLink="/dashboard" class="cf_btn cf_btn_white">Cancel</a>
                  <button (click)="submitUser(updateUserForm.value)" [disabled]="warning" class="cf_btn">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="cf_dashboard_footer_wrapper">
        <div class="cf_dashboard_footer_inner">
          <div class="cf_footer_address">
            <p><span class="cf_icon cf_location"></span> Boompjes 40, 3011 XB Rotterdam, Netherlands</p>
          </div>
          <div class="cf_footer_nav">
            <ul>
              <li><a href="javascript:;">Terms & Conditions</a></li>
              <li><a href="javascript:;">Privacy</a></li>
              <li><a href="javascript:;">Disclaimer</a></li>
              <li><a href="javascript:;">User FAQ</a></li>
            </ul>
          </div>
          <div class="cf_footer_social">
            <ul>
              <li><a href="javascript:;"><span class="cf_icon cf_facebook"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_twitter"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_insta"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_youtube"></span></a></li>
            </ul>
          </div>
        </div>
      </div> -->
  </div>

  <!--Logout Modal-->
  <!-- Modal -->
  <div class="modal fade cf_modal" id="cf_logout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="cf_logoutLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <span class="cf_icon cf_close" data-bs-dismiss="modal" aria-label="Close"></span>
        </div>
        <div class="modal-body">
          <div class="cf_logout_popup_wrapper">
            <h2>Are you sure?</h2>
            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur aliquet quam id dui posuere
              blandit. Sed porttitor </p>
            <div class="cf_popup_btn_wrapper">
              <a href="javascript:;" class="cf_btn cf_btn_white">No</a>
              <a (click)="logout()" class="cf_btn">Yessss</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Logout Modal-->

</body>

</html>