<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

</head>
<body>
  <div class="cf_login_wrapper">
    <div class="cf_login_inner">
      <div class="cf_login_block cf_forgot_block">
        <div class="cf_login_logoBlock">
          <img src="assets/images/logo2.svg" alt="Cafetra" class="img-fluid">
        </div>
        <h3>Forgot password?</h3>
        <span class="login_subline">Enter the email address you used when you joined and we’ll send you instructions to reset your password.</span>
       
       <form [formGroup]="passform"(ngSubmit)="submitpass(passform.value)">
        <div class="cf_form_block">
          <input formControlName="email" type="email" placeholder="Enter Email" class="cf_form_field">
          <span class="cf_icon cf_mail_green"></span>
          <span style="color: red;" *ngIf="email && email.invalid && email.touched">
            **enter valid email
        </span>
        </div>
        <div class="cf_form_block">
          <button class="cf_btn">Send Reset Instructions</button>
        </div>
        <a routerLink="../login">Done with reset password?? click here for login</a>
      </form>
      </div>
      
    </div>
  </div>
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>