<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verification</title>
</head>
<body>
  <div class="cf_login_wrapper">
    <div class="cf_login_inner">
      <div class="cf_login_block cf_forgot_block">
        <div class="cf_login_logoBlock">
          <img src="assets/images/logo2.svg" alt="Cafetra" class="img-fluid">
        </div>
        <h3>Please Enter OTP</h3>
        <span class="login_subline">Please check your Email, We have sent an OTP number.</span>
        <form [formGroup]="otpForm" (ngSubmit)="submitOTP(otpForm.value)">
        <div class="cf_form_block">
          <input type="number" ngModel formControlName="otp" placeholder="Enter OTP" class="cf_form_field">
        </div>
        <!-- <span style="color: red;" *ngIf="otp && otp.invalid && otp.touched">
          **enter valid email
      </span> -->
 
        <div class="cf_form_block">
          <button class="cf_btn">Submit</button>
        </div>
      </form> 
    </div>  
    </div>
  </div>
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>
