<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <div class="cf_login_wrapper">
    <div class="cf_login_inner">
      <div class="cf_login_block">
        <div class="cf_login_logoBlock">
          <img src="assets/images/logo2.svg" alt="Cafetra" class="img-fluid">
        </div>
        <h3>Register your account</h3>



        <form [formGroup]="registrationForm" (ngSubmit)="submitRegistration(registrationForm.value)" >
        <div class="cf_form_block">
          <input type="text" placeholder="First Name" formControlName="fname" class="cf_form_field">
          <span class="cf_icon cf_user"></span>
          <span *ngIf="fname && fname.invalid && fname.touched" style="color: red;">
            **enter valid first-name
        </span>
        </div>
        <div class="cf_form_block">
          <input type="text" placeholder="Last Name" formControlName="lname" class="cf_form_field">
          <span class="cf_icon cf_user"></span>
          <span *ngIf="lname && lname.invalid && lname.touched" style="color: red;">
            **enter valid last-name
        </span>
        </div>
        <div class="cf_form_block">
          <input  placeholder="Contact" formControlName="number" class="cf_form_field">
          <span class="cf_icon cf_call" ></span>
          <span style="color: red;" *ngIf="num && num.invalid && num.touched">**number is invalid</span>
        </div>
        <div class="cf_form_block">
          <select class="cf_form_field">
            <option value="" disabled selected hidden>Company Role</option>
            <option value="Trader">Trader</option>
            <option value="Purchaser">Purchaser</option>
            <option value="Market Analyst">Market Analyst</option>
          </select>
          <span class="cf_icon cf_down_green"></span>
        </div> 
         <div class="cf_form_block">
          <select class="cf_form_field">
            <option value="" disabled selected hidden>Company Type</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
          </select>
          <span class="cf_icon cf_down_green"></span>
        </div>
        <div class="cf_form_block">
          <input type="email" placeholder="Email" formControlName="email" class="cf_form_field">
          <span class="cf_icon cf_mail_green"></span>
          <span style="color: red;" *ngIf="email && email.invalid && email.touched">
            **enter valid email
        </span>
        </div>
        <div class="cf_form_block">
          <input type="password" placeholder="Password" formControlName="password" class="cf_form_field">
          <span class="cf_icon cf_eye_green"></span>
          <!-- <span style="color:red;" *ngIf="pass && pass.invalid && pass.touched">
            **enter valid password
        </span> -->
        </div>
        <!-- <div class="cf_form_block">
          <input type="password" placeholder="Confirm Password" class="cf_form_field">
          <span class="cf_icon cf_eye_green"></span>
        </div> -->
        <div class="cf_form_block">
         <button
           type="submit" class="cf_btn">Register </button>
        </div>
      </form>
        <p class="cf_redirect">Have an account? <a routerLink="../login">Login</a></p>
      </div>
    </div>
  </div>
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>