<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <div class="cf_login_wrapper">
    <div class="cf_login_inner">
      <div class="cf_login_block">
        <div class="cf_login_logoBlock">
          <img src="assets/images/logo2.svg" alt="Cafetra" class="img-fluid">
        </div>
        <h3>Register your account</h3>
        <div class="cf_form_block">
          <input type="text" placeholder="First Name" class="cf_form_field">
          <span class="cf_icon cf_user"></span>
        </div>
        <div class="cf_form_block">
          <input type="text" placeholder="Last Name" class="cf_form_field">
          <span class="cf_icon cf_user"></span>
        </div>
        <div class="cf_form_block">
          <input type="number" placeholder="Contact" class="cf_form_field">
          <span class="cf_icon cf_call"></span>
        </div>
        <div class="cf_form_block">
          <select class="cf_form_field">
            <option value="" disabled selected hidden>Company Role</option>
            <option value="Trader">Trader</option>
            <option value="Purchaser">Purchaser</option>
            <option value="Market Analyst">Market Analyst</option>
          </select>
          <span class="cf_icon cf_down_green"></span>
        </div>
        <div class="cf_form_block">
          <select class="cf_form_field">
            <option value="" disabled selected hidden>Company Type</option>
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
          </select>
          <span class="cf_icon cf_down_green"></span>
        </div>
        <div class="cf_form_block">
          <input type="email" placeholder="Email" class="cf_form_field">
          <span class="cf_icon cf_mail_green"></span>
        </div>
        <div class="cf_form_block">
          <input type="password" placeholder="Password" class="cf_form_field">
          <span class="cf_icon cf_eye_green"></span>
        </div>
        <div class="cf_form_block">
          <input type="password" placeholder="Confirm Password" class="cf_form_field">
          <span class="cf_icon cf_eye_green"></span>
        </div>
        <div class="cf_form_block">
          <a href="javascript:;" class="cf_btn">Register</a>
        </div>
        <p class="cf_redirect">Have an account? <a href="login.html">Login</a></p>
      </div>
    </div>
  </div>
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>