<body>


          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(220, 85%, 60%);text-shadow: 2px 2px 4px #000000; font-size: 90px;">
            Movie Zone <br>
            <span style="color: hsl(218, 39%, 61%);text-shadow: 2px 2px 4px #000000;font-size: 75px;">For your entertenment</span>
          </h1>
          <br><br>
          <br><br>
          <br><br>
   
          <h3 class="line" style="color: hsl(255, 9%, 9%); text-shadow:5px 5px 5px #e0d3d3;padding: 80px;">
            This website provides you the latest movies with full information.You can add movies to your watchlist and
            let you
            rate the movies and you can also add you comments so you can help others by your review.
          </h3>
          <br><br><br><br><br>
          <h4 style="text-align: center;text-shadow:5px 5px 5px #e0d3d3">
              Please login to enjoy our service.If you are new to our website please register youself
          </h4>

        </body>