<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Cafetra</title>
  <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/common.css">
  <link rel="stylesheet" href="assets/css/landing.css">
  <link rel="stylesheet" href="assets/css/custom.css"> -->
</head>
<body>
  <div class="cf_landing_main_wrapper">
    <header class="cf_landing_header_wrapper">
      <div class="container">
        <div class="cf_landing_header_inner">
          <div class="cf_landing_header_left">
            <div class="cf_landing_logo">
              <span class="cf_icon cf_bar"></span>
              <a href="javascript:;"><img src="assets/images/logo3.svg" alt="logo" class="img-fluid"></a>
            </div>
            <div class="cf_landing_nav">
              <span class="cf_icon cf_close"></span>
              <ul class="cf_mob_navBtns">
                <li><a href="javascript:;" class="login_btn">Login</a></li>
                <li><a href="javascript:;" class="cf_btn">Start Free Trial</a></li>
              </ul>
              <ul>
                <li class="cf_subnav_list">
                  <a href="javascript:;">Ceres Analytics</a>
                  <ul class="cf_subnav">
                    <li><a href="javascript:;">Home</a></li>
                    <li><a href="javascript:;">Video Tour</a></li>
                    <li><a href="javascript:;">How we compare</a></li>
                  </ul>
                </li>
                <li class="cf_subnav_list">
                  <a href="javascript:;">Products</a>
                  <ul class="cf_subnav">
                    <li><a href="javascript:;">Weather</a></li>
                    <li><a href="javascript:;">Crop</a></li>
                    <li><a href="javascript:;">Trade</a></li>
                    <li><a href="javascript:;">S&D</a></li>
                    <li><a href="javascript:;">Price</a></li>
                    <li><a href="javascript:;">Price Analysis</a></li>
                    <li><a href="javascript:;">Sentiment</a></li>
                    <li><a href="javascript:;">Recaps</a></li>
                    <li><a href="javascript:;">Data & API</a></li>
                  </ul>
                </li>
                <li><a href="javascript:;">Pricing</a></li>
                <li><a routerLink="../contact">Contact Us</a></li>
                <li><a href="javascript:;" class="active">About Us</a></li>
              </ul>
            </div>
          </div>
          <div class="cf_landing_header_right">
            <ul>
              <li><a routerLink="../login" class="login_btn">Login</a></li>
              <li><a routerLink="../registration" class="cf_btn">Start Free Trial</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section class="cf_breadcrumb_wrapper about_breadcrumb">
      <div class="container">
        <div class="cf_breadcrumb_inner">
          <h3><span>ABOUT</span> us</h3>
        </div>
      </div>
    </section>
    <section class="cf_about_wrapper">
      <div class="container">
        <div class="cf_about_inner">
          <div class="cf_about_heading">
            <h2>ABOUT <span>us</span></h2>
          </div>
          <div class="cf_about_content">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="cf_about_contentBlock">
                  <p>In 2008 Cefetra, a leading European trading company, established a market research desk with the aim of being able to forecast price direction in an increasingly complex world.</p>
                  <p>As we were not satisfied with what’s available on the market in terms of market research products and taking our passion, in combination with our unique quantitative and forward-looking approach, we developed our own to fill this crucial gap. In the last few years, we have experienced strong demand for our market research products. </p>
                  <p>To improve our service, we will distribute our standardized market research products under the brand name Ceras Analytics from 2022. We will be moving our research products to the Ceras Analytics platform from (late) 2022, an interactive and customizable dashboard developed using our extensive database and in-house expertise.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="cf_about_contentBlock">
                  <p>Our focus at Ceras Analytics is on forecasting price direction, rather than reporting the current status of the market. Over the past 10 years we have developed quantitative models that have enabled us to forecast the development of supply and demand (e.g., yield models) and more importantly, allowed us to translate these fundamentals into price forecasts.</p>
                  <p>As we believe in a quantitative approach, we focus on three major disciplines within our team: Data Engineers, Quants and Fundamental Market Analysts.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cf_purpose_wrapper">
      <div class="container">
        <div class="cf_purpose_inner">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="cf_purpose_left">
                <div class="cf_purpose_heading">
                  <h2>Our <span>PURPOSE</span></h2>
                </div>
                <p>Everyone within the European and Black Sea grains and oilseeds supply chain are exposed to risks in our market, however not everyone has the time or resources available to do their own in-depth market research.</p>
                <p>It's our purpose to provide high quality, standardized research to the European and Black Sea grains and oilseed supply chain for a competitive price with a strong focus on market direction.</p>
              </div>
            </div>
            <div class="col-lg-8 col-md-12">
              <div class="cf_purpose_right">
                <div class="cf_purpose_rightBlock">
                  <div class="cf_purpose_rightHeading">
                    <h2>COMPLETE</h2>
                    <h4>One stop shop for all <br> your needs</h4>
                  </div>
                  <ul class="cf_purpose_list">
                    <li>
                      <span class="cf_icon cf_weather"></span> Weather
                    </li>
                    <li>
                      <span class="cf_icon cf_crops"></span> Crops
                    </li>
                    <li>
                      <span class="cf_icon cf_sds"></span> S&Ds
                    </li>
                    <li>
                      <span class="cf_icon cf_trade"></span> Trade
                    </li>
                    <li>
                      <span class="cf_icon cf_price_analysis"></span> Price Analysis
                    </li>
                    <li>
                      <span class="cf_icon cf_policy"></span> Policies
                    </li>
                  </ul>
                </div>
                <div class="cf_purpose_rightBlock">
                  <div class="cf_purpose_rightHeading">
                    <h2>For Everyone</h2>
                    <h4>High level overviews as well as <br> detailed analysis</h4>
                  </div>
                  <ul class="cf_purpose_list">
                    <li>
                      <span class="cf_icon cf_collect"></span> Collect
                    </li>
                    <li>
                      <span class="cf_icon cf_trade"></span> Trade
                    </li>
                    <li>
                      <span class="cf_icon cf_procurers"></span> Procurers
                    </li>
                    <li>
                      <span class="cf_icon cf_risk"></span> Risk Managers
                    </li>
                    <li>
                      <span class="cf_icon cf_policy"></span> Policy Makers
                    </li>
                    <li>
                      <span class="cf_icon cf_market_analysis"></span> Market Analysts
                    </li>
                  </ul>
                </div>
                <div class="cf_purpose_rightBlock">
                  <div class="cf_purpose_rightHeading">
                    <h2>Forward Looking</h2>
                    <h4>Focus on market direction</h4>
                  </div>
                  <div class="bar_graph_image">
                    <img src="assets/images/bar_graph.svg" alt="Graph" class="img-fluid">
                  </div>
                </div>
                <div class="cf_purpose_rightBlock">
                  <div class="cf_purpose_rightHeading">
                    <h2>Competitive</h2>
                  </div>
                  <h3>Starting from just <span>€199/month</span></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="cf_landingFooter_wrapper">
      <div class="container">
        <div class="cf_landingFooter_inner">
          <div class="cf_landingFooter_left">
            <div class="cf_landingFooter_logo">
              <a href="javascript:;"><img src="assets/images/footer_logo.png" alt="Footer Logo" class="img-fluid"></a>
            </div>
            <p><span class="cf_icon cf_location"></span>Boompjes 40, 3011 XB Rotterdam, Netherlands</p>
          </div>
          <div class="cf_landingFooter_right">
            <ul class="cf_landinFooter_navLink">
              <li><a href="javascript:;">Terms & Conditions</a></li>
              <li><a href="javascript:;">Privacy</a></li>
              <li><a href="javascript:;">Disclaimer</a></li>
              <li><a href="javascript:;">User FAQ</a></li>
            </ul>
            <ul class="cf_landinFooter_socialLink">
              <li><a href="javascript:;"><span class="cf_icon cf_facebook"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_twitter"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_insta"></span></a></li>
              <li><a href="javascript:;"><span class="cf_icon cf_youtube"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/swiper-bundle.min.js"></script>
  <script src="assets/js/custom.js"></script>
</body>
</html>